.about-container {
  padding: 0 20px;
  max-width: 1200px;
  text-align: center;
}

.about-image {
  width: 200px;
}

.about-text{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}

.about-text a{
  color: var(--primary-color);
  margin: 0 0.3em;
}

.about-text a:hover{
  color: var(--primary-color-hover);
}