.about-outer-container {
  margin: 80px 0 0 0;
}

/*ABOUT HERO*/
.about-hero {
  min-height: 400px;
  align-content: center;
  background: linear-gradient(to right, rgb(241, 241, 241), rgb(255, 255, 255));
  margin-bottom: 50px;
}

.about-hero-all-text {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.about-hero .about-name {
  font-size: 2.5em;
  font-weight: 400;
  padding: 0;
}

.about-hero .role {
  letter-spacing: 2px;
  color: var(--primary-color);
}

/*STANDARDS*/
.about-container {
  padding: 0 20px;
  margin: auto;
  max-width: 600px;
  max-width: 1000px;
}

.about-container h2 {
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: lowercase;
}

.new-container {
  margin-top: 50px;
}

/*SECTION ABOUT INTRO*/
.about-container-intro {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  gap: 20px;
  width: 100%;
}

.about-container-text{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.externallink-icon {
  margin-right: 0.5em;
}

.about-container-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.about-btn {
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
}

.about-image-container {
  /*margin-top: 1em;*/
  margin: auto;

}

.about-container .about-image {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

/*SECTION FUN FACTS*/
.funfacts-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.funfacts-inner-container .funfact-item {
  background-color: #f1f1f1;
  padding: 20px 60px;
  width: calc(50% - 10px);
  width: 100%;
  min-height: 121px;
  text-align: center;
  align-content: center;
}

.funfacts-inner-container .funfact-icon {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

/*SECTION CURRENT DOING*/
.current-container {
  min-height: 200px;
  align-content: center;
}

.current-container>div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.current-container>div>p {
  max-width: 400px;
}

.react-logo {
  width: 40vw;
  max-width: 400px;
  pointer-events: none;
  animation: react-logo-spin infinite 20s linear;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*SECTION EXPERIENCES*/
.language-container>p {
  margin-bottom: 1em;
}

.language-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-language-item {
  background-color: #f1f1f1;
  padding: 20px;
  width: calc(50% - 10px);
  width: 100%;
  min-height: 110px;
  text-align: center;
  align-content: center;
}

.language-container h4 {
  margin-bottom: 0.5em;
}

.language-divider {
  color: var(--primary-color);
}

.show-all-btn {
  font-size: 0.9em;
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
  .about-hero .about-name {
    font-size: 3em;
  }

  .about-container-btn {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-btn {
    width: calc(33% - 6px);
  }

  .funfacts-inner-container .funfact-item {
    padding: 20px;
    width: calc(50% - 10px);
    min-height: 180px;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .new-container {
    margin-top: 100px;
  }

  .about-hero-all-text {
    padding: 0 50px;
  }

  .about-container {
    padding: 0 50px;
  }

  .about-container-intro {
    flex-direction: row;
  }

  .about-container-text {
    flex: 1;
  }

  .about-image-container {
    display: flex;
    flex: 1;
    max-width: 270px;
  }

  .about-container .about-image {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  .connect-text{
    margin-top: auto;
  }

  .current-container>div {
    flex-direction: row;
    text-align: start;
  }

}

/*DESKTOP*/
@media screen and (min-width: 992px) {
  .about-container h1 {
    text-align: center;
  }

  .funfacts-inner-container .funfact-item {
    width: calc(33% - 11px);
  }

  .about-language-item {
    width: calc(50% - 10px);
  }

}