.attribution-container {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.attribution-container h1 {
    text-align: center;
}

.attributions-mockup {
    list-style-type: none;
}

.attributions-mockup .attribution-item {
    margin: 10px 0;
    font-size: 1rem;
}

.attributions-mockup .attribution-item a {
    font-weight: bold;
    color: var(--primary-color-darker);
    text-decoration: none;
}

.attributions-mockup .attribution-item a:hover {
    text-decoration: underline;
}