/* src/css/Footer.css */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: #f1f1f1;
  margin-top: 70px;
  height: 110px;
  width: 100%;
}

.footer-icons,
.second-footer-container {
  text-align: center;
  margin: auto;
}

.footer-icons a {
  display: inline-flex;
  margin: 0 10px;
  margin-top: 5px;
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-icons a:hover {
  color: var(--primary-color-darker);
  transform: translateY(-2px);
}

.second-footer-container {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
}

.second-footer-container>* {
  display: inline;
  margin: 0 5px;
  font-weight: 600;
  margin-top: 10px;
}

.second-footer-container a:hover {
  color: var(--primary-color-hover);
}

.footer-divider {
  color: var(--primary-color);
  font-weight: 700;
  display: none;
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .second-footer-container{
  flex-direction: row;
}

.footer-divider {
    display: inline;
  }
}