:root {
    --primary-color: #05BFDB;
    --primary-color-darker: #0299b1;
    --primary-color-hover: #048296;
    --primary-color-transparent: rgb(5, 191, 219, 0.9);

    --primary-color: #04A0B8;
    --primary-color-hover: #037C8F;
    --primary-color-darker: #025966;
    --primary-color-transparent: rgb(4, 160, 184, 0.9);
}

.colorscheme {
    /*background-color: #191919;
    color: #EEEEEE;
    color: var(--primary-color);*/
}

.container {
    margin: 120px 0 0 0;
    /*To get footer at bottom of page*/
    flex: 1;
}

a {
    color: black;
}

h1 {
    font-weight: 400;
    text-transform: lowercase;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
    /* Bootstrap-blå */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: var(--primary-color-hover);
    /* Mörkare blå vid hover */
    transform: translateY(-2px);
    /* Lyfter knappen vid hover */
}

.btn:active {
    background-color: var(--primary-color-darker);
    /* Ännu mörkare blå vid klick */
    transform: translateY(1px);
    /* Tryck-effekt vid klick */
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
    /* Ljusblå focus-ring */
    box-shadow: 0 0 0 3px rgb(3, 124, 143, 0.5);
    /* Ljusblå focus-ring */


}

.colorfulend {
    color: var(--primary-color);
    font-weight: 600;
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {}

/*TABLET*/
@media screen and (min-width: 768px) {}

/*DESKTOP*/
@media screen and (min-width: 992px) {
    .container {
        margin: 120px 5% 0 5%;
    }
}

/*HUGE SCREEN*/
@media screen and (min-width: 992px) {}