/*override standard to get pictures out the edges*/
.homepage-container {
  margin-right: 0;
  margin-left: 0;
  margin-top: 150px
}

/*SECTION HERO*/
.hero-text-container {
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  width: 100%;
  z-index: -10;
}

.hero-text {
  text-align: center;
  margin: 0 auto 100px auto;
  padding: 0 50px;
  color: var(--primary-color);
  font-size: 5vw;
  font-weight: 500;
}

.hero-text-enter {
  display: block;
}

/*PROJECTS IMAGES*/
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 220px;
  margin-top: 40vw;
  z-index: 2;
  background-color: white;
  box-shadow: 0px -70px 70px rgba(255, 255, 255, 0.8);
}

.project-item {
  max-width: 1200px;
}

.thumbnail-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/*Move image up when hover*/
.thumbnail-container:hover {
  transform: translateY(-5px);
}

.project-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s;
  aspect-ratio: 5/3;
}

/*OVERLAY*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: var(--primary-color-transparent);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  gap: 10px;
}

.thumbnail-container:hover .overlay {
  opacity: 1;
}

.overlay-title {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
}

.overlay-date {
  display: none;
  font-weight: bold;
}

.overlay-techniques {
  font-weight: 400;
}


/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
  .project-item {
    width: calc(50% - 5px);
  }

  .overlay-title {
    font-size: 1em;
  }

  .hero-text {
    padding: 0 80px;
  }

}

/*TABLET*/
@media screen and (min-width: 768px) {
  .hero-text-container {
    top: 200px;
  }

  .hero-text {
    font-weight: 100;
    padding: 0 10px;
  }

  .project-list {
    margin-top: 300px;
  }

  .project-item {
    width: calc(50% - 5px);
  }

  .overlay-title {
    font-size: 1.5em;
  }

  .overlay-date {
    display: block;
  }
}

/*DESKTOP*/
@media screen and (min-width: 992px) {
  .hero-text {
    font-size: 3em;
    padding: 0;
  }

  .project-list {
    margin-left: 5%;
    margin-right: 5%;
  }



}