.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-container {
  justify-items: center;
}

.project-image {
  width: 100%;
  max-height: 700px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.project-image:hover {
  cursor: zoom-in;
  transform: scale(1.02);
}

.image-description {
  margin-bottom: 10px;
  padding: 0 30px;
  text-align: center;
  color: rgb(89, 89, 89);
  font-size: 0.8em;
  font-weight: 700;
}

/*BIGGER IMAGE*/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
}

.large-image {
  max-width: 100vw;
  max-height: 100vh;
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
  .single-image {
    width: 100%;
    max-width: 1400px;
  }

  .multiple-images {
    width: calc(50% - 5px);
    max-width: 700px;
  }

  .image-container.portrait{
    width: fit-content;
  } 
}