/*STANDARDS*/
.navbar a {
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: var(--primary-color-hover);
    transform: translateY(-2px);
}

.navbar {
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.nav-menu * {
    font-weight: 700;
}

.logo-jh {
    width: 50px;
}

.logo-jh * {   
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.logo-jh:hover>* {
    fill: var(--primary-color-hover) !important;
    stroke: var(--primary-color-hover) !important;
}

/*MOBILE*/
.nav-desktop {
    display: none;
}

.nav-mobile {
    display: flex;
}

.nav-logo {
    display: flex;
    justify-content: center;
}

.hamburgerMenu {
    position: absolute;
    top: 17px;
    right: 3%;
    cursor: pointer;
    z-index: 3000;
    color: black;
}

/*OPEN HAMBURGER MENU*/
.nav-overlay {
    /* display: none;*/
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform .5s ease;
}

.nav-overlay.active {
    display: flex;
    transform: translateX(0);
}

/* Centrerar menylänkarna */
.nav-overlay .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 2em;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

.nav-menu a.active {
    text-decoration: line-through;
    text-decoration-thickness: 4px;
}

/* Sociala ikoner längst ner */
.nav-overlay .nav-icons {
    font-size: 1.75em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.icons-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex: 1;
    padding-left: 25px;
    padding: 0;
    padding-left: 60px;
}

.nav-icons a,
.nav-icons button {
    display: inline-flex;
}

.language-btn {
    border: 0;
    background-color: #fff;
    color: #000;
    font-size: 1.1em;
    transition: color 0.3s ease, transform 0.2s ease;
    margin-left: auto;
    margin-right: 33px;
    cursor: pointer;
}

.language-btn:hover {
    color: var(--primary-color-hover);
    transform: translateY(-2px);
}

/*DESKTOP*/
@media screen and (min-width: 992px) {

    .nav-overlay,
    .HamburgerMenu,
    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
    }

    .nav-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        padding: 0;
        margin: auto;
    }

    .nav-menu {
        justify-content: left;
        gap: 20px;
        margin-left: 5%;
        margin-right: 50px;
        text-transform: uppercase;
    }

    .nav-menu a.active {
        text-decoration-thickness: 2px;
    }

    .nav-icons {
        justify-content: right;
        gap: 20px;
        margin-right: 5%;
        margin-left: 50px;
        font-size: 1.5em;
        padding: 0;
    }

    .icons-container {
        justify-content: right;
        gap: 20px;
    }

    .language-btn {
        margin-left: 10px;
        margin-right: 0;
    }
}