@import url('./General.css');

.project-detail {
    max-width: 1000px;
    margin: auto;    
    padding: 20px;
  }
  
  .detail-image {
    width: 100%;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .image-item {
    flex: 1 1 300px; /* Flex-baserad layout */
    margin: 10px;
    text-align: center;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rundade hörn för bilder */
  }
  
  #project-title{
    text-align: center;
  }

  #project-link{
    text-decoration: underline;
    color: var(--primary-color);
  }

  #project-link:hover{
    color: var(--primary-color-darker);

  }

  .language-divider{
    color: var(--primary-color-darker);

  }