@import url('./General.css');

.project-container {
    padding: 0 5%;

}

.project-info-container {
  max-width: 800px;
  margin: auto;

}

.project-title {
  text-align: center;
}

.project-language {
  font-size: 0.8em;
  color: rgb(125, 125, 125);
  font-weight: 500;
}

.language-divider {
  color: var(--primary-color-darker);
}

.project-link {
  color: var(--primary-color);
}

.project-link:hover {
  color: var(--primary-color-darker);
}

/*
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    max-width: 1200px;
  }
  
  .image-item {
    flex: 1 1 500px; 
    margin: 10px;
    text-align: center;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  */