@import url('./General.css');

.container{
    padding-top: 20px;
}

.welcome-text {
    text-align: center;
    margin: 50px auto 100px auto;
    width: 700px;
    color: var(--primary-color);
    font-size: 3em;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .project-item {
    position: relative;
    margin: 10px;
    max-width: 650px; 
  }
  
  .project-link {
    text-decoration: none; /* Ta bort understrykning */
  }
  
  .thumbnail-container {
    position: relative;
    overflow: hidden;
    max-width: 650px;
    max-height: 500px;
    border-radius: 8px; 
    
  }
  /*bild fyller inte ut container*/
  .project-thumbnail {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px; 
    transition: transform 0.3s;
  }
  
  .thumbnail-container:hover .project-thumbnail {
    transform: scale(1.05); /* Zooma in bilden vid hovring */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Halvtransparent svart bakgrund */
    background-color: var(--primary-color-transparent);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Döljer overlay */
    transition: opacity 0.3s; /* Gör att overlay smidigt syns */
  }
  
  .thumbnail-container:hover .overlay {
    opacity: 1; /* Visa overlay vid hovring */
  }
  