/*CERTIFICATE*/
.certificate-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certificate-item {
    background-color: #f1f1f1;
    padding: 20px;
    width: calc(50% - 10px);
    width: 100%;
    min-height: 110px;
    /* display: flex; */

    text-decoration: none;
    transition: transform 0.4s ease-out;
    cursor: pointer;
}

.certificate-item-inner {
    display: flex;
    flex-direction: row;
}

.certificate-item .certificate-img{
    display: none;
    width: auto;
    height: 82px;
    height: 95px;
    max-height: fit-content;
    margin: auto 0;
}

.certificate-info {
    display: inline-block;
    /* flex-direction: column; */
    /* gap: 10px; */
    width: max-content;
}

.certificate-info>*{
    margin-bottom: 10px;
}

.certificate-info h5 {
    font-size: 1em;
    font-weight: 600;
}

.certificate-link-text {
    /* font-weight: 400; */
    /* text-decoration: underline; */
    transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
}

.certificate-item:hover {
    transform: translateY(-5px);
}

.certificate-link-text:hover  {
    color: var(--primary-color-hover);
    text-decoration: underline;
    /* font-weight: 600; */
} 

.certificate-item .arrow-down {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
}

.certificate-item:hover .arrow-down {
    color: var(--primary-color-hover);
} 

.certificate-description {
    margin-top: 20px;
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
    .certificate-item .certificate-img {
        display: inline;
    }

    .certificate-info {
        padding-left: 20px;
    }

}