/*CERTIFICATE*/
.certificate-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.certificate-item {
    background-color: #f1f1f1;
    padding: 20px;
    width: calc(50% - 10px);
    width: 100%;
    min-height: 110px;
    display: flex;

    text-decoration: none;
    transition: transform 0.4s ease-out;
}

.certificate-item>img {
    display: none;
    width: auto;
    height: 82px;
    max-height: fit-content;
    margin: auto 0;
}

.certificate-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.certificate-info h5 {
    font-size: 1em;
    font-weight: 600;
}

.certificate-link-text {
    /* font-weight: 400; */
    /* text-decoration: underline; */
    transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
}

.certificate-item:hover {
    transform: translateY(-5px);
}

.certificate-item:hover .certificate-link-text {
    color: var(--primary-color-hover);
    text-decoration: underline;
    /* font-weight: 600; */
} 

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
    .certificate-item>img {
        display: inline;
    }

    .certificate-info {
        padding-left: 20px;
    }

}