/*CERTIFICATE*/
.certificate-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.certificate-item {
    background-color: #f1f1f1;
    color: black;
    padding: 20px;
    width: calc(50% - 10px);
    width: 100%;
    min-height: 110px;
    /* display: flex; */

    text-decoration: none;
    /* transition: transform 0.3s ease-out; */
    cursor: pointer;

    border: none;
    text-align: left;
}

.certificate-item-inner {
    display: flex;
    flex-direction: row;
}

.certificate-item .certificate-img {
    display: none;
    width: auto;
    height: 82px;
    height: 95px;
    height: 110px;
    max-height: fit-content;
    margin: auto 0;
}

.certificate-info>*:not(:last-child) {
    margin-bottom: 10px;
}

.certificate-info h5 {
    font-size: 1em;
    font-weight: 600;
}

.certificate-link-text {
    transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
}


.certificate-link-text:hover {
    color: var(--primary-color-hover);
    text-decoration: underline;
    /* font-weight: 600; */
}

.certificate-item .arrow-down {
    display: block;
    /* margin-bottom: 0; */
    /* margin-top: 10px; */
    margin: 10px 0;
}

.certificate-item:hover .arrow-down {
    color: var(--primary-color-hover);
}

.certificate-description {
    margin-top: 20px;
}

.certificate-description-container {
    overflow: hidden;
    /* transition: opacity 0.3s ease, height 0.3s ease; */
}

.btn-certificate {
    width: fit-content;
    margin: auto;
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
    .certificate-item .certificate-img-container {
        width: 148px;
        max-height: 110px;
        position: relative;
        overflow: hidden;
    }

    .certificate-item .certificate-img {
        display: inline;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
    }

    .certificate-info {
        padding-left: 20px;
    }

}

/*ONLY ON DESKTOP*/
@media (hover: hover) and (pointer: fine) {

    /*Move image up when hover*/
    /* .certificate-item:hover {
        transform: translateY(-5px);
    } */

}