/*SECTION ABOUT INTRO*/
.about-container-intro {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    gap: 20px;
    width: 100%;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.externallink-icon {
    margin-right: 0.5em;
}

.about-container-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.about-btn {
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.about-btn>span {
    display: flex;
    align-items: center;
}

.about-image-container {
    /*margin-top: 1em;*/
    margin: auto;
}

.about-container .about-image {
    width: 100%;
    max-width: 420px;
}

/*SMALL SCREEN*/
@media screen and (min-width: 540px) {
    .about-container-btn {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-btn {
        width: calc(33% - 6px);
    }
}

/*TABLET*/
@media screen and (min-width: 768px) {
    /* .about-container {
        padding: 0 50px;
    } */

    .about-container-intro {
        flex-direction: row;
    }

    .about-container-text {
        flex: 1;
    }

    .about-image-container {
        display: flex;
        flex: 1;
        max-width: 270px;
        max-width: 286px;
        margin: 0;
        margin-top: auto;
    }

    /* .about-container .about-image {
        width: 100%;
        height: auto;
    } */

    .connect-text {
        margin-top: auto;
    }
}