.toc-container {
  position: absolute; 
  top: 40px; 
  /* right: -250px; */
  right: auto;
  z-index: 1000;
  /* display: flex;
  flex-direction: column;
  gap: 50px; */
  width: 200px;
  margin-left: 30px;

  /* transition: top 0.3s ease-in-out; */
 }

 .toc-container.sticky {
  position: fixed; 
  top: 50%;
  transform: translateY(-50%);
  /* top: 130px; */
  right: auto;
  z-index: 1000;
  /* transition: top 0.3s ease-in-out; */
}

/* Progress bar container */
.progress-bar {
  width: 4px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  overflow: hidden;
}

/* Dynamic progress indicator (Fills from top to bottom) */
.progress {
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  height: 0;
  transition: height 0.3s ease-in-out;
  border-radius: 2px;
}

/* TOC list */
.toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TOC item */
.toc-item {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  position: relative;
  padding-left: 24px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.toc-item:hover {
  color: var(--primary-color-hover);
}

/* Active TOC item */
.toc-item.active {
  font-weight: bold;
  color: var(--primary-color);
}


